:root {
    /*paleta de cores */
    --blue: #30A2FF;
    --darkblue: #054b85;

    /*--darkblue: #054b85;*/
    --lightblue: #86c1e0;
    --orange: #E55807;
    --white: #ffffff;
    --black: #000000;
    --red: #e24242;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--blue);
  color: var(--black);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(var(--darkblue), 20%, var(--blue));


}

main {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}
.title {
  color: var(--white);
}

.subtitle {
  color: var(--white);
}

.submit {
  color: var(--white);
  background-color: var(--black);
  border-radius: 5px 5px 5px 5px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 2em;
  width: 20em;
  height: 3em;
  margin-bottom: 2em;
}

.submit:hover {
  color: var(--white);
  background-color: var(--darkblue); 

}

.error-message {
  color: var(--red);
  font-size: 0.8rem;
  padding: 3px;
  font-weight: bolder;
}

footer {
  color: var(--white);
  background-color: var(--darkblue);
  width: 100%;
  padding: 1em;
  font-size: 0.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
} 


 footer a {
  color: var(--white);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.rodape {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 769px) {
  body {
    background-image: linear-gradient(to right, var(--darkblue), var(--blue));

  }
  .title {
    color: var(--white);
    font-size: 3em;     
  }

  .subtitle {
    color: var(--black);

  }
  
  footer {
    font-size: 0.8rem;

  }
}.login-wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    position: sticky;
}

.logo {
    width: 15em;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 2.5rem;
    }

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
}

.inputs-info {
    border-radius: 5px 5px 5px 5px;
    flex-direction: column;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 2em;
    width: 20em;
    height: 3em;
    text-align: center;
}

.register-here {
    text-decoration: none;
    color: var(--black);
    border: none;
    width: 6em;
    font-size: 1.1rem;
    text-align: center;
    background-color: var(--blue);
}


.google-button, .facebook-button {
    background-color: var(--white);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 4em;
    margin: 2em 1em 2em 1em;
}

.google-img, .facebook-img {
    width: 2em;
    height: 2em;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.text {
    color: black;
    margin-top: 10px;
}
.text-slogan {
    display: none;
}

.button-eye {
position: absolute;
margin-left: 15em;
margin-top: 30%;
border: none;
cursor: pointer; 

}

.icon-eye:hover {
    color: var(--darkblue);
}

@media screen and (min-width: 768px) {
    .logo {
        width: 20em;
        margin-left: 2em;
    }

    .login-wrap {
        position: fixed;
        top: 1;
        left: 0;
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .left {
        margin-top: 130px;
    }

    .right {
        margin-top: 70px;
    }

    .register-here {
      background-color: var(--lightblue);
    }

    .text {
        color: black;
        margin-top: 10px;
    }

    .text-slogan {
        justify-content: center;
        display: flex;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
   }

    .login-form {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-bottom: 2.5rem;
        border: 2px solid var(--lightblue);
        border-radius: 22px;
        width: 24em;
        height: 30em;
        background-color:var(--lightblue); 
        margin-top: 3em;
    }

    .register-here:hover {
        background-color: var(--darkblue);
        border-radius: 15px 15px 15px 15px;
        color: var(--white);
    }
    .facebook-button, .google-button {
    width: 10em;
    height: 3em;
    }

    .button-eye {
    margin-top: 25%;
    } 
}

.form-register {
    justify-content: center;
    display: grid;
    margin-top: 2em;
    text-align: center;
    justify-content: center;
}

.inputs-register{
    margin-top: 2em;
    text-align: center;
    width: 20em;
    height: 3em;
    border-radius: 5px 5px 5px 5px;
    display: grid;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.btn-back {
    text-decoration: none;
    color: var(--white);
    position: absolute;
    top: 10px;
    right: 10px
}

.img-register {
    width: 15em;
    margin-top: 2em;
}
.register-form {
position: relative;
}

.eye-eye {
    position: absolute;
    margin-left: 8em;
    border: none;
    cursor: pointer; 
    margin-top: 5%;
    transform: translateY(-250%);
    background-color: white;
}

.icons-eye:hover {
    color: var(--blue);
}

.eyes-eyes {
    position: absolute;
    margin-left: 8em;
    border: none;
    cursor: pointer; 
    transform: translateY(-160%);
    background-color: white;
   
}

.icons-eyes:hover {
    color: var(--blue);
}

@media screen and (min-width: 769px) {
    .form-register{
        margin: 0;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
        border-radius: 22px;
        width: 24em;
        height: 32em;
        background-color:var(--lightblue);
        margin-top: 4em;
}
    .image-register {
        bottom: 2em;
        left: 0;
        display: flex; 
        position: fixed;
        width: 30em;
  }

}

@media screen and (min-width: 900px) {
    .img-register {
        width: 20em;
    }
}
@keyframes entering {
    from { 
        opacity: 0;
        transform: translateY(-200px);}

    to { 
        opacity: 1;
        transform: translateY(0);    
    }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative; 
    animation: entering 0.7s ease-in-out;
    
    
}

.postTitle {
    font-weight: bold;
    color: var(--white);
    font-size: 1em;
}

.img-timeline {
    position: absolute; 
    bottom: 0;
    width: 18em;
    display: flex;
    flex-direction: column-reverse;
    left: 50%; 
    transform: translateX(-50%);   
 }

.right-timeline, .postList {
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-bottom: 12em;  
}


.input-container { /*input e botao enviar*/
    display: flex;
    flex-direction: column;
    width: 96%;
    padding: 1em;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lightblue);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    
}

.input-message { /*input mensagem*/
    min-height: 8em;
    border: none;
    text-align: center; 
    width: 98%;
    word-wrap: break-word;
    resize: vertical;
    font-family: 'Comfortaa', cursive;
    padding: 1.5em;
    font-size: 0.6em;
    border-radius: 0.8em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));



}

.shareBtn { /* botão enviar*/
    color: var(--white);
    background-color: var(--darkblue);
    width: 11em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder;
    letter-spacing: 0.08em;
    margin-top: 1em;
    font-size: 0.6em;
    text-shadow: -0.5px 0.5px 0 var(--black), 0.5px 0.5px 0 var(--black);
    font-family: 'Comfortaa', cursive;


    


}

.post-container {
    margin: 2em;
    padding: 1em;
    width: 96%;
    background-color: var(--lightblue);
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));



  }

.nameUser {
    width: 94%;
    padding: 0.5em;
    border-radius:  0.8em 0.8em 0 0;
    background-color: var(--darkblue);
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(var(--darkblue), var(--blue));
    text-shadow: -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    font-weight: bold;

    
}

.dataPost {
    font-size: 0.7em;

}
.textPost {
   background-color: var(--white);
   color: var(--black);
   width: 94%;
   padding: 1em;
   margin-left: auto;
   margin-right: auto;
   height: auto;
   word-wrap: break-word;
   border-radius:  0 0 0.8em 0.8em ;
   margin-bottom: 0.7em;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   font-weight: bold;


}

.icon-timeline {
    margin: 1em;
    font-size: 0.9em;  
    color: var(--white); 
    width: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
a {
    text-decoration: none;
}

.icons {
    background-color: var(--lightblue);
    border: none;
}

.icons:hover, .icon-timeline:hover {
    background-color: var(--blue);
    border-radius: 0.8em;
    padding: 0.1em;
    width:auto;
    height: auto;

}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar{ /*customiza a barra de rolagem*/
        width: 0.5em;
    }
    
    ::-webkit-scrollbar-track { /*customiza o caminho da barra de rolagem*/
        background-color: var(--lightblue) ;
        border: 0.1em solid var(--darkblue);
        border-radius: 0.3em;
    }
    
    ::-webkit-scrollbar-thumb { /*barrinha que percorre o caminho sobe/desce*/
        background-color: var(--blue);
        border: 0.1em solid var(--darkblue);
        border-radius: 0.3em;
    }
        
    .container {
        display: grid;
        grid-template-areas: "left right"; /*nomes das colunas aside e nav*/
        grid-template-columns: 0.7fr 1.3fr;/*divide o grid em duas colunas com tamanhos iguais*/
        grid-template-rows:  100vh; /*ViewHeightport - altura da tela*/
        line-height: 1.5;
        font-size: 1.2em;     
        background-image: linear-gradient(to right, var(--darkblue), var(--blue));


    }
    .photo-timeline {
        width: 6em;
        margin-top: 1em;
        margin: 1em;
        border-radius: 50%;
    }

    .img-timeline {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 18em;
    }
     
    .left-timeline {
        grid-area: left;  
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        

    }
    .icon-timeline {
        text-align: center;
    }
    .icones {
        margin-bottom: 15em;

    
    }
    .right-timeline, .postList {
        grid-area: right; /*defide que o timeline é a segunda coluna*/
        overflow-y: scroll;
        border-left: solid var(--darkblue) 0.1em;
        margin-bottom: 0;

    }

    .post-container {
        font-size: 0.8em;
    
      }
    .input-container, .post-container { /*input e botao enviar*/
        width: 80%;
    }   

}


